ion-card {
  &.loading {
    text-align: center;
  }
  ion-card-content {
    font-size: 1.5em;
    font-weight: bold;
    max-height: 50vh;
  }
  ion-toolbar {
    --background: white;
  }
  ion-list {
    padding-bottom: 1em;
  }
}

.item-disabled {
  opacity: 1 !important;
}
