.trivia {
  // --background: linear-gradient(
  //   135deg,
  //   var(--ion-color-primary) 0%,
  //   var(--ion-color-secondary) 100%
  // );
  --background: white;
  .center-container {
    overflow: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    &:before,
    &:after {
      overflow: hidden;
      display: block;
      content: "";
      position: absolute;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      z-index: 0;
      overflow: hidden;
      //background: var(--ion-color-secondary);
      background: white;
    }

    &:before {
      top: -100px;
      left: -150px;
    }

    &:after {
      bottom: 0;
      right: -75px;
      //background: var(--ion-color-primary);
      background: white;
    }
  }
}
ion-card {
  flex: 1;
  z-index: 1000;
  &.loading {
    text-align: center;
  }
  ion-card-content {
    font-size: 1.5em;
    font-weight: bold;
    max-height: 50vh;
  }
  ion-toolbar {
    --background: white;
  }
  ion-list {
    padding-bottom: 1em;
  }
}

.item-disabled {
  opacity: 1 !important;
}
